# ----------------------------------------------------------------------
# Responsive Images
# ----------------------------------------------------------------------
# Mobile-First images that scale responsively and responsibly
# Copyright 2011, Scott Jehl, Filament Group, Inc 
# MIT License

# -----------------------------------------
# Start Responsive Images 
# -----------------------------------------
RewriteEngine On
RewriteCond %{HTTP_COOKIE} rwdimgsize=large

# -----------------------------------------
# Approach A: Immediate redirection
##   If your small and large filenames are predictable, such as originalfilename.large.jpg,
##   this is the best approach. You'll need no data-attributes in your markup, but you'll
##   still need to add an ".r" before the file extension in your HTML img src (but not the filename)
##
##   note: the rewrite below assumes this naming convention by default:
##      initial image:  filename.jpg
##      large image:	filename.large.jpg
# -----------------------------------------
RewriteRule (.*)\.r(\.(jpe?g|png|gif))$ $1.large$2

# -----------------------------------------
# Approach B: Data-attribute redirection
##   If your small and large filenames are not predictable, you can use this approach
##   To use: 
##    1. Comment out the RewriteRule above by placing a # at the beginning of the line
##    2. Reference your initial (small) image in the img element src attribute, 
##       add an ".r" before the file extension in your HTML img src (but not the filename)
##    3. reference your large image in a data-fullsrc attribute on the img tag
##    4. Uncomment the RewriteRule below, which directs responsive image requests to temp gif
##       until the JavaScript can direct it to the image referenced in its data- attribute
# -----------------------------------------
# RewriteRule .*\.r\.(jpe?g|png|gif)$ rwd-images/rwd.gif [L]

# -----------------------------------------
# The following line applies to both approaches 
# -----------------------------------------
# remove .r from all requests
RewriteRule (.*)\.r(\.(jpe?g|png|gif))$ $1$2

# -----------------------------------------
# END Responsive Images
# -----------------------------------------