<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rwd-images" stopProcessing="true">
                    <match url="(.*)rwd-router/.*\.(jpe?g|png|gif|webp)" />
                    <conditions trackAllCaptures="true">
                        <add input="{QUERY_STRING}" pattern="full=(.*)&amp;?" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}{C:1}" appendQueryString="false" />
                </rule>
                <rule name="rwd-non-images">
                    <match url="(.*)rwd-router/(.*)$" />
                    <action type="Rewrite" url="{R:1}{R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
