# ----------------------------------------------------------------------
# Responsive Images
# ----------------------------------------------------------------------
# Mobile-First images that scale responsively and responsibly
# Copyright 2011, Scott Jehl, Filament Group, Inc 
# MIT License

# -----------------------------------------
# Start Responsive Images 
# -----------------------------------------
RewriteEngine On
#large cookie, large image
RewriteCond %{HTTP_COOKIE} rwd-screensize=large
RewriteCond %{QUERY_STRING} large=([^&]+)
RewriteRule (.*\/).*\.(jpe?g|png|gif|webp) $1%1
#medium cookie, medium image
RewriteCond %{HTTP_COOKIE} rwd-screensize=medium
RewriteCond %{QUERY_STRING} medium=([^&]+)
RewriteRule (.*\/).*\.(jpe?g|png|gif|webp) $1%1
#large cookie, medium image
RewriteCond %{HTTP_COOKIE} rwd-screensize=medium
RewriteCond %{QUERY_STRING} medium=([^&]+)
RewriteRule (.*\/).*\.(jpe?g|png|gif|webp) $1%1

# -----------------------------------------
# END Responsive Images
# -----------------------------------------